div.hand-container {
  border: 1px white solid;
  border-radius: 10px;
  background-color: green;
  padding: 5px;
  margin: 5px auto 5px auto;
}

div.hand {
  display: inline-block;
  padding: 4px;
}

div.hand div {
  display: flex;
  padding: 0px;
}

img {
  height: 145px;
  width: 100px;
}